.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
